/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
#PageContainer {
  width: 90%;
  margin: 0 auto;
}
#navContainer {
  background-color: #7e168c8f;
  font-size: 2rem;
  padding: 1vh 0;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  #navContainer {
    flex-wrap: wrap;
  }
}
#navContainer span {
  user-select: none;
  color: white;
  margin-left: 1%;
  width: 40%;
  transition: color 0.15s linear;
}
#navContainer span:hover {
  color: black;
}
@media (max-width: 500px) {
  #navContainer span {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
  }
}
#navContainer nav {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  #navContainer nav {
    flex-wrap: wrap;
    width: 100%;
  }
}
#navContainer nav a {
  color: white;
  padding: 0 1%;
  margin-right: 4%;
  text-decoration: underline;
  user-select: none;
  transition: color 0.25s;
}
#navContainer nav a:hover {
  color: black;
}
@media (max-width: 500px) {
  #navContainer nav a {
    padding: 1vh 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  #navContainer nav a:first-child {
    border-top: 1px solid white;
  }
  #navContainer nav a:not(:last-child) {
    padding: 12px 0px;
    border-bottom: 1px solid white;
  }
}
