header{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    img{
        width: 60%;
        margin: 2rem 0;
    }
    h1 {
        padding-bottom: 2rem;
        font-style: italic;
    }
    a{
        .btn()
    }
    a:hover {
    color: @color-primary-2;
    background-color: white;
    border: 1px solid @color-primary-2;
  }
}




.mission {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 4rem;
   img {
        width: 40%;
    }
    h2{
        text-decoration: underline;
        padding-bottom: 2rem;
    }
}

//TODO: Mobile support, gets funky under 950px
.testimonials
{
    h2
    {
        margin-top: 5px;
        text-decoration: underline;
    }
    #Testimonials
    {
        overflow-x: hidden;
        margin-top: 8px;
        display: flex;
        justify-content: center;

        clip-path: inset(100% 333px);

        @media @phone { clip-path: inset(100% 87px); }
        @media @tablet { clip-path: inset(100% 238px); }

        @keyframes _Slide
        {
            0% { left: 333.33px; }
            20% { left: 333.33px; }
            21% { left: 0px; }
            49% { left: 0px; }
            50% { left: -333.33px; }
            98% {left: -333.33px; }
            100% { left: 333.33px ; }
        }
        
        .quote
        {
            animation: _Slide 40s infinite;
            position: relative;

            margin-bottom: 8px;

            min-width: 332px;
            max-width: 332px;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img
            {
                clip-path: circle(50%);
                width: 100%;
                max-width: 180px;
                max-height: 180px;
                border-radius: 40%;
            }
            h3
            {
                width: 100%;
                text-align: center;
                font-size: 1.8rem;
            }
            p
            {
                text-align: center;
            }
        }
    }
}