// Colors

@navFooterColor: white;
@baseColor: #B881C0;
@buttonColor: #7A3384;

//Unused colors
@color-primary-1: #F2E0F4;
@color-primary-2: #D8B2DE;
@color-primary-3: #9755A0;


// Media Queries
@phone: ~"(max-width: 500px)";
@desktop: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)"; //MVP?